.c-end-game-modal
  &__header
    display grid
    grid-template-columns repeat(2, 1fr)

  &__status
    font-size 11px
    text-align center
    display grid
    grid-template-columns 1fr
  &__number
    font-size 16px
    font-weight bold
