.c-game-tries
  width 100%
  &__item
    display grid
    grid-gap 1px
    grid-template-columns repeat(18, 1fr)
    height min-content
    align-items center
    justify-content center
    padding 4px 8px
