.c-bottom-message
  color #FFF
  position fixed
  width 100vw
  height 100vh
  bottom 0
  left 0
  box-shadow 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.5)
  margin 0 auto
  background-color rgba(0,0,0,.4)
  display flex
  align-items flex-end
  justify-content center
  z-index 101
  &__box
    padding 24px
    border-top-right-radius 8px
    border-top-left-radius 8px
    max-width calc(100% - 40%)
    background-color #0d1117
    max-height calc(100% - 8px)
    display inline-flex
    flex-direction column
    @media (max-width 768px)
      max-width calc(100% - 5%)
  &__body
    display flex
    flex-direction column
    flex-grow 1
    height auto
    overflow-y auto
    width 100%

  &__close
    width 20px
    height 20px
    border-radius 4px
    border 1px solid transparent
    position absolute
    right 8px
    top 8px
    background-color transparent
    color #FFF
    cursor pointer
    transition all .2s ease
    display inline-flex
    align-items center
    justify-content center
    &:hover
      background-color #FFF
      color #333
    & > *
      flex-shrink 0
